h1{
  color: #FF0000;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 80px
}

.bla{
  border-color: black;
  border-width: thick;
}
body{
  background: url(http://www.pptback.com/uploads/borders-frames-notepad-backgrounds-powerpoint.jpg);
}
.submit-btn{
  margin-top: 70px;
  border-width: thick;
font-family: 'Rubik Mono One', sans-serif;

}
.user-input{
  margin-top: 25px
}
.name{
  margin-top: 80px;
  border-width: thick;
  border-color: inherit;
  height: 50px ;
  width: 600px
}
.card-container{
  margin-top: 130px;
  font-family: 'Pacifico', cursive;
  
}
